@font-face {
    font-family: '29LT Bukra';
    src: url('./fonts/29ltbukraregular.ttf') format('truetype');
}

body {
    margin: 0px;
    font-family: '29LT Bukra', sans-serif;
}

button {
    font-family: '29LT Bukra', sans-serif;
}

.header-wrapper {
    background-image: url("./images/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 100px;
}

.header {
    display: flex;
    color: #ffffff;
}

.header-links {
    display: flex;
    align-items: center;
    margin: 0px 88px 0px 0px;
}

.header-links ul {
    list-style: none;
}

.header-links ul li {
    display: inline;
    margin-left: 35px;
    font-size: 1rem;
    cursor: pointer;
}

.header-links ul .active {
    color: #B89635;
    font-weight: 700;
}

.header-title {
    margin: 40px 0px 51px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #B89635;
}

.header-title-2 {
    margin-top: 27px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .header-links.show {
        display: flex;
    }

    .menu-toggle {
        right: 43px;
        top: 25px;
        position: fixed;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

    .header-links ul {
        padding: 0;
        text-align: center;
    }

    .header-links ul li {
        display: block;
        margin: 10px 0;
    }
}

/* Search and Filters */
.filter-wrapper {
    padding: 80px 100px 0px;
}

.filter-wrapper .custom-checkbox {
    margin-left: 10px;
}

@media screen and (max-width: 1200px) {
    .filter-wrapper {
        padding: 80px 100px 0px;
    }
}

@media screen and (max-width: 992px) {
    .filter-wrapper {
        padding: 80px 30px 0px;
    }
}

/* Cards */
.cards-wrapper {
    padding: 35px 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    box-shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.10);
    border-radius: 8px;
    border: 1px solid rgba(184, 150, 53, 0.26);
    background: #FFF;
    width: 29%;
    padding: 19px 17px 23px;
    margin-bottom: 30px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-options {
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.card-header-options .dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #B89635;
}

.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #B89635;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox {
    background-color: #B89635;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox .check-icon {
    opacity: 1;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info-image {
    width: 108px;
    height: 108px;
    margin-top: 7px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: solid 2px #B89635;
}

.card-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-info-name {
    color: #333;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 18px;
}

.card-info-status {
    display: flex;
    margin-top: 9px;
    padding-bottom: 10px;
    font-size: 1.125rem;
    align-items: center;
    column-gap: 10px;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 6px;
}

.status-accepted {
    color: #16D973;
}

.status-rejected {
    color: #FF0000;
}

.status-accepted .status-dot {
    background-color: #16D973;
}

.status-rejected .status-dot {
    background-color: #FF0000;
}

.card-info-contact {
    display: flex;
    direction: ltr;
    column-gap: 10px;
    margin-top: 20px;
    text-decoration: underline;
}

.card-info-contact a {
    color: #555;
}

.card-personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 18px 23px 0px;
    padding: 17px;
    background: rgba(184, 150, 53, 0.02);
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    font-size: 0.72rem;
    row-gap: 15px;
}

.card-personal .card-personal-item {
    flex: 0 0 50%;
    text-align: start;
}

.card-personal .card-personal-item span {
    font-weight: 700;
}

.card-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-links div {
    margin-top: 18px;
    color: #B89635;
    text-decoration: underline;
}

.card-bottom {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.card-bottom button {
    background: #B89635;
    border-radius: 4px;
    padding: 18px 0px;
    width: 189px;
    border: 0px;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .cards-wrapper {
        padding: 35px 100px;
    }

    .card {
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    .cards-wrapper {
        padding: 35px 30px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 39px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content .card-header {
    position: absolute;
}

.modal-content .card-links {
    margin-top: 30px;
    font-size: 1.5rem
}

.modal-content .card-info {
    margin: 30px;
}

.modal-content .card-info-image,
.modal-content .card-personal {
    margin: 0px;
}

.modal-content .card-bottom {
    margin-top: 60px;
    column-gap: 23px;
}

.modal-content .card-bottom .card-bottom-accept {
    border-radius: 6.726px;
    background: #16D973;
    box-shadow: 1.682px 1.682px 11.771px 0px rgba(0, 0, 0, 0.25);
}


.modal-content .card-bottom .card-bottom-reject {
    color: #F00;
    border-radius: 6.726px;
    border: 1px solid #F00;
    background: rgba(255, 0, 9, 0.06);
    box-shadow: 1.682px 1.682px 11.771px 0px rgba(0, 0, 0, 0.25);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}